.button{
  text-align: center;
  height: 70px;
  width: 280px;

  &.styled-button{
    @include border-radius(8px);
    border: solid 4px $base-color;
    color: $base-color;
    background: $main-color;

    font-family: $base-font-family;
    font-size: 40px;
  }

  &.button-with-image{
    position: relative;

    img{
      @include vertical-align();

      position: absolute;
      left: -30px;
    }
  }

  &:focus{
    outline: none;
  }
}