input[type="text"]{
  border: solid 4px $base-color;
  color: $base-color;
  background: $main-color;
  padding: 0 10px;

  @include box-center-valign-content($input-height);

  &:focus{
    outline: none;
  }
}