input[type="text"]{
  border: solid 4px $base-color;
  color: $base-color;
  background: $main-color;
  padding: 0 10px;

  @include box-center-valign-content($input-height);

  &:focus{
    outline: none;
  }
}

.control-label,
.control-input{
  display: table-cell;
  padding: 0 10px;
  vertical-align: middle;
}

.control-label{
  width: 15%;
  font-size: 27px
}

.control-input{
  @extend input[type="text"];
  width: 100%;
}

textarea{
  outline: none;
  background: transparent;
  border: none;

  &:focus{
    border: dotted 1px $base-color;
  }
}