.vertical-tabs,
.vertical-tabs-content{
  float: left;
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

.vertical-tabs{
  width: $vertical-tabs-width;
  position: absolute;
  top: $header-height;
  bottom: 0;
  background: url("../images/sidebar-bg-vertical-menu.png") repeat-y;

  a{
    height: 96px;
    display: table-cell;
    text-align: center;
    color: #9a0203;
    vertical-align: middle;
    width: $vertical-tabs-width;

    span{
      display: block;
      font-size: 24px;
      margin-bottom: 5px;
    }

    &.active{
      background: url("../images/sidebar-img-active-item.png") no-repeat center center;
    }
  }
}

.vertical-tabs-content{
  width: $vertical-tabs-content-width;
  margin-left: $vertical-tabs-width;
  position: absolute;
  top: $header-height;
  bottom: 0;
  padding: 0 23px;
  overflow: auto;

  &.active-layout-tab{
    top: $header-height + 100;
  }

  .tab{
    display: none;

    &.active{
      display: block;
    }
  }

  .list-item{
    margin-bottom: 25px;
  }
}