#main{
  position: absolute;
  top: $header-height;
  left: $sidebar-width;
  right: 0;
  bottom: 0;
  padding: 40px;
  padding-right: 0;
  overflow: auto;

  *{
    @include css3-prefix('user-select', 'none');
  }

  .cay-dao{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 15%;
  }

  .paper-wrap{
    background: url("../images/main-bg-editing-area.jpg") center center;
    position: relative;
    text-align: center;
    padding: 40px;

    .happy-2016{
      position: absolute;
      z-index: 10;
      bottom: 0;
      right: 0;
      width: 150px;
    }

    .editing-area{
      margin-bottom: 40px;

      .card-layout{
        position: relative;
        margin: 0 auto;
      }

      #btn-select-file{
        position: absolute;
        background: #666;
        overflow: hidden;

        input{
          opacity: 0;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
        }
      }

      .image-placeholder{
        position: absolute;
        opacity: 1;
        border: dashed 3px #F0E1C4;
        z-index: 1000;
        cursor: all-scroll;
      }

      .card-message{
        position: absolute;
      }
    }

    .buttons{
      .button:first-child{
        margin-right: 40px;
      }
    }
  }
}