#main{
  position: absolute;
  top: $header-height;
  left: $sidebar-width;
  right: 0;
  bottom: 0;

  //.cay-dao{
  //  position: absolute;
  //  left: 0;
  //  top: 0;
  //  z-index: 10;
  //  //display: none;
  //
  //  @include desktop-sm{
  //    display: none;
  //  }
  //}

  .happy-2016{
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    width: 150px;
  }

  .paper-wrap{
    background: url("../images/main-bg-editing-area.jpg") center center;
    position: relative;
    margin: 25px 0 0 25px;
    padding: 35px 0;

    .editing-area{
      width: 810px;
      height: 450px;
      margin: 0 auto;
    }

    .buttons{
      display: block;
      width: 100%;
      text-align: center;
      margin-top: 30px;

      .button:first-child{
        margin-right: 45px;
      }
    }
  }
}