<!--<img class="cay-dao" src="images/main-cay-dao.png">-->
<div class="paper-wrap">
  <img class="happy-2016" src="images/main-happy-2016.png">

  <div class="editing-area" ng-style="{ 'background-url' : selectingLayout }"></div>
  blabla {{ selectingLayout }}
  <div class="buttons">
    <button class="button styled-button button-with-image">
      <img src="images/main-btn-01-img.png"> Download
    </button>
    <button class="button styled-button button-with-image">
      <img src="images/main-btn-02-img.png"> Share
    </button>
  </div>
</div>
