<img class="cay-dao" src="images/main-cay-dao.png">
<div class="paper-wrap">
  <img class="happy-2016" src="images/main-happy-2016.png">
  <div class="editing-area">
    <div class="card-layout" ng-style="main.sidebarData.selectingLayout.background">
      <img ng-src="{{ main.sidebarData.selectingLayout.background.url }}">

      <!-- Cropped image -->
      <img class="image-placeholder"
           ng-src="{{ main.sidebarData.dataURI }}"
           ng-style="main.sidebarData.selectingLayout.imagePlaceholder">

      <textarea class="card-message"
                placeholder="Hãy viết lời chúc dành cho ai đó :)"
                ng-style="main.sidebarData.selectingLayout.messagePlaceholder"
                ng-model="main.cardMessage">
      </textarea>
    </div>
  </div>

  <div class="buttons">
    <button class="button styled-button button-with-image" ng-click="main.captureCard()">
      <img src="images/main-btn-01-img.png"> Download
    </button>
    <button class="button styled-button button-with-image">
      <img src="images/main-btn-02-img.png"> Share
    </button>
  </div>
</div>
