<img class="cay-dao" src="images/main-cay-dao.png">
<div class="paper-wrap">
  <img class="happy-2016" src="images/main-happy-2016.png">
  <div class="editing-area">
    <!--<div>-->
      <!--<h3>First, choose a file</h3>-->
      <!--<input type="file" simple-change="main.fileChanged($event)" accept="image/*">-->
    <!--</div>-->

    <!--<div>-->
      <!--<h3>Then, crop it</h3>-->
      <!--<canvas class="cropper" width="300" height="300" tw-cropper="cropper" source="main.file"></canvas>-->
    <!--</div>-->

    <!--<div ng-show="main.file">-->
      <!--<h3>When you're done, use it</h3>-->
      <!--<button ng-click="crop = cropper.toDataURL()">Save</button>-->
    <!--</div>-->

    <!--<div ng-show="crop">-->
      <!--<h3>Result:</h3>-->
      <!--<img ng-src="{{crop}}">-->
    <!--</div>-->

    <div class="card-layout" ng-style="main.sidebarData.selectingLayout.background">
      <img ng-src="{{ main.sidebarData.selectingLayout.background.url }}">

      <!-- Canvas holding selected image -->
      <canvas class="image-placeholder canvas"
              width="{{ main.sidebarData.selectingLayout.imagePlaceholder.width.replace('px', '') }}"
              height="{{ main.sidebarData.selectingLayout.imagePlaceholder.height.replace('px', '') }}"
              tw-cropper="cropper"
              source="main.file"
              ng-style="main.sidebarData.selectingLayout.imagePlaceholder"></canvas>

      <div id="btn-select-file"
           ng-style="main.sidebarData.selectingLayout.btnSelectImage">
        <input type="file"
               simple-change="main.fileChanged($event)"
               accept="image/*">
        <label>Choose image</label>
      </div>
      <textarea class="card-message"
                ng-style="main.sidebarData.selectingLayout.messagePlaceholder"
                ng-model="main.cardMessage">
      </textarea>
    </div>
  </div>

  <div class="buttons">
    <button class="button styled-button button-with-image" ng-click="main.captureCard()">
      <img src="images/main-btn-01-img.png"> Download
    </button>
    <button class="button styled-button button-with-image">
      <img src="images/main-btn-02-img.png"> Share
    </button>
  </div>
</div>
