<ul class="vertical-tabs">
  <li>
    <a ng-class="{ 'active' : sidebar.data.activeTab === 'layout' }"
       ng-click="sidebar.selectTheTab('layout')">
      <span class="icon-insert-template"></span>Mẫu
    </a>
  </li>
  <li>
    <a ng-class="{ 'active' : sidebar.data.activeTab === 'font' }"
       ng-click="sidebar.selectTheTab('font')">
      <span class="icon-equalizer"></span>Chỉnh sửa </a>
  </li>
  <li>
    <a ng-class="{ 'active' : sidebar.data.activeTab === 'message' }"
       ng-click="sidebar.selectTheTab('message')">
      <span class="icon-equalizer"></span>Lời chúc</a>
  </li>
</ul>

<div class="vertical-tabs-content active-{{ sidebar.data.activeTab }}-tab">
  <div class="tab layout-tab"
       ng-class="{ 'active' : sidebar.data.activeTab === 'layout' }">
    <div class="list-item search-txt">
      <input type="text" placeholder="Tìm kiếm">
      <img src="images/sidebar-img-monkey-search.png">
    </div>
    <div class="list-item"
         ng-repeat="l in sidebar.data.layouts"
         ng-click="sidebar.selectTheLayout(l)">
      <img ng-src="{{ l.background.url }}">
    </div>
  </div><!-- /.tab layout-tab -->


  <div class="tab font-tab form-horizontal"
       ng-class="{ 'active' : sidebar.data.activeTab === 'font' }">
    <div class="list-item image-editor">
      <canvas class="image-placeholder"
              width="{{ sidebar.data.selectingLayout.imagePlaceholder.width.replace('px', '') }}"
              height="{{ sidebar.data.selectingLayout.imagePlaceholder.height.replace('px', '') }}"
              tw-cropper="cropper"
              source="sidebar.data.file"></canvas>

      <div class="buttons">
        <div class="button">
          <input type="file" id="btn-choose-img"
                 simple-change="sidebar.fileChanged($event)"
                 accept="image/*">
          <label for="btn-choose-img"><span class="icon-camera"></span>Đổi ảnh</label>
        </div>

        <button class="button" ng-click="sidebar.cropImage(cropper.toDataURL())">
          <label>Xong<span class="icon-check"></span></label>
        </button>
      </div>
    </div>
    <div class="list-item">
      <span class="icon-font control-label"></span>
      <select ng-model="sidebar.data.selectingLayout.messagePlaceholder.fontFamily" class="control-input">
        <option ng-repeat="f in sidebar.data.fontsList" value="{{ f }}">{{ f }}</option>
      </select>
    </div>
    <div class="list-item">
      <span class="icon-font-size control-label"></span>
      <input type="text" ng-model="sidebar.data.selectingLayout.messagePlaceholder.fontSize" class="control-input">
    </div>
    <div class="list-item">
      <span class="icon-palette control-label"></span>
      <div ng-style="{ backgroundColor: sidebar.data.selectingLayout.messagePlaceholder.color, borderColor: sidebar.data.selectingLayout.messagePlaceholder.color }" class="control-input">
        {{ sidebar.data.selectingLayout.messagePlaceholder.color }}
      </div>
    </div>

    <div class="list-item color-picker-wrapper">
      <color-picker ng-model="sidebar.data.selectingLayout.messagePlaceholder.color"></color-picker>
    </div>
  </div><!-- /.tab font-tab -->

  <div class="tab message-tab form-horizontal"
       ng-class="{ 'active' : sidebar.data.activeTab === 'message' }">
    <div class="list-item"
         ng-repeat="m in sidebar.data.sampleMessages"
         ng-click="sidebar.selectSampleMessage(m)">
      <div ng-bind-html="m"></div>
    </div>
  </div>
</div>